@page "/devices"
@page "/administrador"

@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BlazorApp3.Models
@using BlazorApp3.Data
@inject IDbContextFactory<BlazorApp3.Data.BlazorApp3Context> DbFactory
@implements IAsyncDisposable

<PageTitle>Matriz de vídeo - Administrador</PageTitle>

<h1>Administrador de dispositivos</h1>

<p>
    <a href="transmitters/create">➕ Crear ➡️ transmisor</a><br/>
    <a href="receivers/create">➕ Crear ⬅️ receptor</a>
</p>

<QuickGrid Class="table" Items="context.Device">
    <PropertyColumn Property="device => device.Id" Title="ID" />
    <PropertyColumn Property="device => device.Name" Title="Nombre" />
    <PropertyColumn Property="device => device.Ip" Title="IP" />

    <TemplateColumn Context="device" Title="Estado">
        @{
            string statusText = device.Status switch
            {
                0 => "Apagado",
                1 => "Encendido",
                2 => "Espera",
                _ => "Unknown"
            };
        }
        <span>@statusText</span>
    </TemplateColumn>

    <TemplateColumn Context="device" Title="URL">
        @{
            if (device is Transmitter transmitter)
            {
                <span>@transmitter.Url.Substring(transmitter.Url.LastIndexOf('/') + 1).Replace(".png", "").Replace(".jpg", "").Replace(".jpeg", "").Replace(".gif", "").Replace(".bmp", "").Replace("-", " ").Replace("_", " ")</span>
            }
        }
    </TemplateColumn>

    <TemplateColumn Context="device" Title="ID Transmisor">
        @{
            if (device is Receiver receiver)
            {
                <span>@receiver.TransmitterId</span>
            }
        }
    </TemplateColumn>

    <TemplateColumn Context="device">
        @{
            if (device is Transmitter transmitter)
            {
                <a href="@($"transmitters/edit?id={transmitter.Id}")">✏️ Editar </a>
                <a href="@($"transmitters/delete?id={transmitter.Id}")">🗑️ Eliminar </a>
            }
            else if (device is Receiver receiver)
            {
                <a href="@($"receivers/edit?id={receiver.Id}")">✏️ Editar </a>
                <a href="@($"receivers/delete?id={receiver.Id}")">🗑️ Eliminar </a>
            }
        }
    </TemplateColumn>
</QuickGrid>

@code {
    BlazorApp3Context context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
