@page "/devices"
@page "/administrador"

@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BlazorApp3.Models
@using BlazorApp3.Data
@inject IDbContextFactory<BlazorApp3.Data.BlazorApp3Context> DbFactory
@implements IAsyncDisposable

<PageTitle>Matriz de vídeo - Administrador</PageTitle>

<h1>Administrador de dispositivos</h1><br />

<p style="text-decoration: none;">
    <a href="transmitters/create" style="text-decoration: none;">➕ Crear ➡️ transmisor</a><br />
    <a href="receivers/create" style="text-decoration: none;">➕ Crear ⬅️ receptor</a>
</p>

<QuickGrid Class="table" Items="context.Device">
    <PropertyColumn Property="device => device.Id" Title="ID" />

    <TemplateColumn Context="device" Title="Tipo">
        @if (device is Transmitter)
        {
            <span>T</span>
        }
        else if (device is Receiver)
        {
            <span>R</span>
        }
    </TemplateColumn>

    <PropertyColumn Property="device => device.Name" Title="Nombre" />

    <TemplateColumn Context="device" Title="Estado">
        @if (device is Transmitter transmitter)
        {
            <span>@(transmitter.Status == 0 ? "Apagado" : transmitter.Status == 1 ? "Encendido" : "Espera")</span>
        }
        else if (device is Receiver receiver)
        {
            <span>@(receiver.Status == 0 ? "Apagado" : receiver.Status == 1 ? "Encendido" : "Espera")</span>
        }
    </TemplateColumn>

    <TemplateColumn Context="device" Title="URL">
        @{
            if (device is Transmitter transmitter)
            {
                <span>@transmitter.Url.Substring(transmitter.Url.LastIndexOf('/') + 1).Replace(".png", "").Replace(".jpg",
                       "").Replace(".jpeg", "").Replace(".gif", "").Replace(".bmp", "").Replace("-", " ").Replace("_", " ")</span>
            }
            else
            {
                <span>No puede tener</span>
            }
        }
    </TemplateColumn>

    <TemplateColumn Context="device" Title="ID Transmisor asociado">
        @{
            if (device is Receiver receiver)
            {
                <span>@receiver.TransmitterId</span>
            }
            else
            {
                <span>No puede tener</span>
            }
        }
    </TemplateColumn>

    <PropertyColumn Property="device => device.Ip" Title="IP" />

    <TemplateColumn Context="device">
        @if (device is Transmitter transmitter)
        {
            <a href="@($"transmitters/edit?id={transmitter.Id}")" style="text-decoration: none;">✏️</a>
            <a href="@($"transmitters/delete?id={transmitter.Id}")" style="text-decoration: none;">🗑️</a>
        }
        else if (device is Receiver receiver)
        {
            <a href="@($"receivers/edit?id={receiver.Id}")" style="text-decoration: none;">✏️</a>
            <a href="@($"receivers/delete?id={receiver.Id}")" style="text-decoration: none;">🗑️</a>
        }
    </TemplateColumn>
</QuickGrid>

@code {
    BlazorApp3Context context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
